<h2>Library</h2>

<table cell padding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Hot or Not?</th>
      <th>Bump It Up</th>
      <th>Burninate</th>
    </tr>
  </thead>
  <tbody>
<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, topic %></td>
    <td><%= pluralize(topic.votes.length, "vote") %></td>
    <td><%= button_to 'git it', votes_path(topic_id:topic.id), method: :post %></td>
    <td><%= button_to 'Fahrenheit 451 that ish', topic, method: :delete, data: { confirm: 'Will it burn?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'Add Your Favorite Book', new_topic_path %>
